@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
body {
    margin: 0;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
}
.main {
    border: 10px solid black;
    width: 1800px;
    height: 1200px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: white;
    padding: 25px;
}
.gora {
    display: flex;
    margin-bottom: 20px;
    height: 15%;
}
.nawigacja {
    border: 5px solid black;
    flex-grow: 1;
    margin-right: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Nunito";
}
.switch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    width: 30%;
    font-family: "Nunito";
    font-size: 20px;
    box-sizing: border-box;
}
.srodek {
    display: flex;
    flex-grow: 1;
    margin-bottom: 15px;
}
.info {
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    padding: 20px;
    flex-grow: 1;
    margin-right: 15px;
    width: 65%;
    box-sizing: border-box;
}
.info-gora{
    display: flex;
    align-items: flex-start;
}
.info1 {
    flex-grow: 1;
    padding: 40px;
    font-family: "Nunito";
}
.info1 h1{
    font-family: "Lilita One";
}
.info1 .ikony{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}
.info1 .ikony p{
    display: flex;
    align-items: center;
    margin: 5px;
}
.info-dol{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 100px;
}
.experience,
.kontakt {
    border: 5px solid black;
    box-sizing: border-box;
    padding: 15px;
}
.experience{
    flex-grow: 1;
    margin-top: 50px;
    margin-left: 40px;
    width: 30%;
    height: 80%;
    background-color: white;
    border-color: #1E1E1E;
}
.experience ul{
    list-style: none;
    font-family: "Nunito";
    font-size: 25px;
}
.experience h3{
    text-align: center;
    font-family: "Nunito";
    font-size: 35px;
}
.kontakt{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 50px;
    margin-right: 40px;
    width: 30%;
    height: 80%;
}
.kontakt-gora{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Nunito";
}
.prawastrona {
    width: 30%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.technology {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
    flex-grow: 1;
}
.technology h3 {
    margin-top: 0;
    margin-bottom: 10%;
    font-family: "Lilita One";
    font-size: 35px;
}
.technology ul {
    list-style: none;
    font-family: "Nunito";
    font-size: 25px;
    padding: 0;
    margin: 0;
}
.technology li {
    margin-bottom: 5px;
}
.powered {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    border: 5px solid black;
    height: 30%;
    font-size: 35px;
    font-family: "Nunito";
    box-sizing: border-box;
}
.dolnalinia {
    border-top: 5px dashed black;
    height: 0;
    margin-top: 5px;
}
.project{
    background-color: #0B8673;
    width: 200px;
    height: 100px;
}
.project a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 100%;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.nawigacja img{
    width: 100px;
    height: 100px;
}
.switch img{
    width: 100px;
    height: 100px;
}
.powered img{
    width: 100px;
    height: 100px;
}
.ikony img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.kontakt-gora img{
    width: 50px;
    height: 50px;
}
.divavatar img{
    background-color: #1E1E1E;
    margin: 40px;
}
